body {
  display: flex;
  flex-wrap: wrap;
}

button {
  color: red;
  margin-top: 2em;
  position: absolute;
}

.divBoxes {

  border: 5px solid black;
  padding: 4.5em;
  margin-top: 5em;
  cursor: pointer;
}
